<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>595340468920-ac9mj8t7banogmg2j88tkb0sjm0r53fi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.595340468920-ac9mj8t7banogmg2j88tkb0sjm0r53fi</string>
	<key>API_KEY</key>
	<string>AIzaSyCLh3BTA342xg-n4WpTYOWfsM-tN3iTD54</string>
	<key>GCM_SENDER_ID</key>
	<string>595340468920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lukejmann.FBLA2017</string>
	<key>PROJECT_ID</key>
	<string>yard-sale-3</string>
	<key>STORAGE_BUCKET</key>
	<string>yard-sale-3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:595340468920:ios:aff728c09fd4e79c</string>
	<key>DATABASE_URL</key>
	<string>https://yard-sale-3.firebaseio.com</string>
</dict>
</plist>