<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>546217638275-6d0lhr7sdcdbu1ju39rfp8q2aohm689g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546217638275-6d0lhr7sdcdbu1ju39rfp8q2aohm689g</string>
	<key>API_KEY</key>
	<string>AIzaSyDbBW82rYSMmhgHQKP-0PpAZNaiXy9fGlU</string>
	<key>GCM_SENDER_ID</key>
	<string>546217638275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lukejmann.FBLA2017</string>
	<key>PROJECT_ID</key>
	<string>fbla2017-223f9</string>
	<key>STORAGE_BUCKET</key>
	<string>fbla2017-223f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:546217638275:ios:aff728c09fd4e79c</string>
	<key>DATABASE_URL</key>
	<string>https://fbla2017-223f9.firebaseio.com</string>
</dict>
</plist>